{% extends 'base.html.twig' %}

{% block title %}Hello CreerArticleController!{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-6 mx-auto text-center mt-2">
                <h1 class="my-5 text-center"> Ajouter un article</h1>
                {{form_start(articleForm)}}
                <h2>Titre article</h2>
                {{form_row(articleForm.titreArticle)}}
                {{form_row(articleForm.idCategorie)}}
                {{form_row(articleForm.idSousCategorie)}}
                {{form_row(articleForm.contenuArticle)}}
                {{form_end(articleForm)}}
                
            </div>
        </section>
         <script>
        // Écoutez la soumission du formulaire
document.querySelector('form').addEventListener('submit', function () {
// Empêche la soumission normale du formulaire

// Effectuez ici la validation du formulaire si nécessaire

// En cas de succès, affichez SweetAlert
Swal.fire('Votre article a été créé avec succès').then(function () {
// Redirigez vers le tableau de bord ou une autre page si nécessaire
window.location.href = "{{ path('app_dashboard') }}";
});
});
    </script>
    </main>
{% endblock %}


{% block javascripts %}
<script>
var $categorie = $('#article_form_idCategorie');
$categorie.change(function() {
var $form = $(this).closest('form');
var data = {};
data[$categorie.attr('name')] = $categorie.val();
$.ajax({
url : $form.attr('action'),
type: $form.attr('method'),
data : data,
complete: function(html) {
$('#article_form_idSousCategorie').replaceWith($(html.responseText).find('#article_form_idSousCategorie'));
}});
});
</script>
{% endblock %}